mixin nav-content()
	ul
		li.one: a(href="#about") About
		li.two: a(href="/horatiu.html") Horatiu
		li.three: a(href="#crama") Crama
		li.four: a(href="#Contact") Contact

.mobile-navigation 
	+nav-content()


header
	.header-position
		h1.logo GrammaWines

		nav.site-nav
		

		a(href="mailto:office@grammawines.ro").email-link +emailus

		.mobile-navigation-toggle
			.bar

